<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyAndroidServer</display-name>
  <welcome-file-list>
    <welcome-file>
          note.jsp
      </welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ChangeNicknameServlet</display-name>
    <servlet-name>ChangeNicknameServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.ChangeNicknameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeNicknameServlet</servlet-name>
    <url-pattern>/ChangeNicknameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ChangeSexServlet</display-name>
    <servlet-name>ChangeSexServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.ChangeSexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSexServlet</servlet-name>
    <url-pattern>/ChangeSexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ChangeDescriptionServlet</display-name>
    <servlet-name>ChangeDescriptionServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.ChangeDescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDescriptionServlet</servlet-name>
    <url-pattern>/ChangeDescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddPostServlet</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetPostDataServlet</display-name>
    <servlet-name>GetPostDataServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.GetPostDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostDataServlet</servlet-name>
    <url-pattern>/GetPostDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PriseServlet</display-name>
    <servlet-name>PriseServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.PriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriseServlet</servlet-name>
    <url-pattern>/PriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeletePriseServlet</display-name>
    <servlet-name>DeletePriseServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.DeletePriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePriseServlet</servlet-name>
    <url-pattern>/DeletePriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddFriendServlet</display-name>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetCommentServlet</display-name>
    <servlet-name>GetCommentServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.GetCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentServlet</servlet-name>
    <url-pattern>/GetCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SendCommentServlet</display-name>
    <servlet-name>SendCommentServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.SendCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendCommentServlet</servlet-name>
    <url-pattern>/SendCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetPriseServlet</display-name>
    <servlet-name>GetPriseServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.GetPriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPriseServlet</servlet-name>
    <url-pattern>/GetPriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CreateTopicServlet</display-name>
    <servlet-name>CreateTopicServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.CreateTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTopicServlet</servlet-name>
    <url-pattern>/CreateTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetTopicServlet</display-name>
    <servlet-name>GetTopicServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.GetTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTopicServlet</servlet-name>
    <url-pattern>/GetTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateCountServlet</display-name>
    <servlet-name>UpdateCountServlet</servlet-name>
    <servlet-class>com.myAndroidServer.servlet.UpdateCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCountServlet</servlet-name>
    <url-pattern>/UpdateCountServlet</url-pattern>
  </servlet-mapping>
</web-app>